@model List<MovieMVC.Models.Movie>

<h1>@ViewBag.title</h1>

<form method="post">

    @foreach (var movie in Model)
    {
        <input type="checkbox" name="movieIDs" id="@movie.ID" value="@movie.ID" />
        <label for="@movie.ID">@movie.Title</label>
        <br />
    }

    <input type="submit" value="Remove Selected Movie(s)" />
</form>