@model List<MovieMVC.Models.Movie>

<h1>@ViewBag.Title</h1>

@if (Model != null)
{
    
    <h3>@Model.Count Result(s)</h3>

    @foreach (var movie in Model)
    {
        <table class="movie-listing">
            <tr>
                <td>Title</td>
                <td>@movie.Title</td>
            </tr>
            <tr>
                <td>Streaming Service</td>
                <td>@movie.StreamingService</td> @*I get an error when I do movie.StreamingService.StreamingService.  VS likes it, but the web page doesn't.*@
            </tr>
            <tr>
                <td>Genre</td>
                <td>@movie.Genre</td>
            </tr>

        </table>
    }
}